body{
	background-color: white;
	margin:0;
	font-family: 'Nunito', sans-serif;
}
#loading-page{
	position: absolute;
	z-index:5;
	top:0;
	width:100%;
	height:100vh;
	background-color:black;
}
#loading-logo{
	display: block;
	    width:128px;
  height:128px;
  box-sizing: border-box;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
/*  margin:0;padding: 0;*/
}

#body,#wing,#ring{
	opacity: 0;
	stroke:white !important;
}
#ring{
	stroke-width:0.5 !important;
}
#home-main-bg{
	position: fixed;
   /* right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-position: center;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
#home-main-bg > video{
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#home-main-svg{
	/*position: absolute;*/
	/*width:500px;height:100px;*/
	width: 250px;
    height: 60px;
}
#home-main-letters path{
	fill:rgba(255,255,255,1);
}
.center{
	position: absolute;
	box-sizing: border-box;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}
#home-main-content{
	width: 100%;
	height:300px;
	text-align: center;
	color:white;
}
#home-navbar a{
	color:white;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
}
#home-navbar li{
	padding:0.5em 0;
}
#home-subheader{
	font-style: oblique;
	font-family: serif;
    font-size: 14px;
    padding: 1em 2em;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
}
a{
	text-decoration: none;
}
ul{
	margin:0;
	padding:0;
	list-style: none;
}
@media only screen and (min-width: 768px){
	#home-main-svg{
		width: 420px;
   		height: 100px;
	}
	#home-subheader{
		font-size: 24px;
    	padding: 0.5em 25% 2em 25%;
	}
	#home-navbar li{
		padding: 1em 0;
	}
	#home-main-content{
		height:400px;
	}
}
@media only screen and (min-width: 1024px){
	/*horizontal navar*/
	#home-navbar{
		display: inline-flex;
	}
	#home-navbar li{
		padding: 1.5em 3em;
	}
	#home-main-content{
		height:280px;
	}
	#home-subheader{
		padding-top:0em;
	}
}
